#message-cont {
    height: 350px;
  }

  .radius {
    border-radius: 5px;
  }

  #message {
    overflow: scroll;
  }

  #myMessage {
    left: 50%;
  }

  .form-control {
    display: inline;
  }

  .typing {
    top: 75%;
    left: 40%;
    right: 40%;
    width: 20%;
  }